img {
  max-width: 100%;
  display: block;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --second-primary-font: "Raleway", sans-serif;
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --white-color: #ffffff;
  --second-logo-color: #4d5ae5;
  --second-footer-logo-color: #f4f4fd;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2e2f42;
  --gray-background-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --accent-background-color: #f4f4fd;
  --active-accent-background-color: #404bbf;
  --custumers-icons-color: #8e8f99;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: auto;
}
body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: var(--white-color);
}

/* header */

.header {
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.navigation-link {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-colo);
  text-decoration: none;
  list-style: none;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.start {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--active-accent-background-color);
}
.current:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  height: 4px;
  border-radius: 2px;
  display: block;
  width: 100%;
}
.current {
  color: var(--active-accent-background-color);
  position: relative;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-div {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  text-decoration: none;
}

.navigation-list .navigation-link.start::after {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  background-color: var(--active-accent-background-color);
  width: 100%;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.web {
  font-family: var(--second-primary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;
  margin-left: 0px;
  margin-right: 76px;
  position: relative;
}

.studio {
  color: var(--secondary-color);
}

.link-nav {
  list-style: none;
  display: flex;
}

.navigation-link:hover {
  color: var(--active-accent-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:focus {
  color: var(--active-accent-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-style: normal;
  letter-spacing: 0.02em;
  list-style: none;
  display: flex;
  gap: 8px;
  flex-direction: row;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.contacts.link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts.link:hover {
  color: var(--active-accent-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.contacts.link:focus {
  color: var(--active-accent-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* -----indexhtml -------*/

.button_os {
  background: var(--accent-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  cursor: pointer;
}

/* section1 */

.div-section-one {
  padding-left: 0px;
}
.name {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.section-os {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  color: var(--secondary-color);
  background-color: var(--secondary-color);
  padding: 188px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button {
  background-color: var(--accent-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 4px;
  gap: 10px;
  width: 169px;
  height: 56px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:is(:hover, :focus) {
  background-color: #404bbf;
}

/* section 2 */

.div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.about-us-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-us {
  padding: 120px 0;
}

.about_us_menu {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
}

.menu-list {
  display: flex;
  gap: 24px;
  flex-direction: row;
}

.description {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
}

.description.four {
  text-align: center;
}

.list-aboutus {
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  width: calc((100% - 72px) / 4);
}

/* section 3 */

.section-menu {
  padding-bottom: 120px;
  margin-bottom: 0px;
}

.feature-name {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
  margin-bottom: 72px;
}

.feature-list.list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.pictures {
  list-style: none;
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
}
/* section 4 */
.section-team {
  background-color: var(--gray-background-color);
  padding: 120px 0;
}

.our-team {
  background-color: var(--gray-background-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
  list-style: none;
  margin-bottom: 72px;
}

.portfolioimg link {
  background-color: var(--white-color);
}

.our-team-photo.link {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
  background-color: var(--white-color);
  list-style: none;
  display: block;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.about-us-menu {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  list-style: none;
}

.cosial-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.cosial-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cosial-link:hover,
.cosial-link:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}
.description-four {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

/* section 5 */
.last-section-icons {
  padding: 120px 0;
}
.custumers {
  font-size: 36px;
  line-height: 1.11;
  color: var(--secondary-background-color);
  margin-bottom: 72px;
  text-align: center;
}
.custumers-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.custumers-list-icons {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.custumers-div-icon {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--custumers-icons-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custumers-svg-icons:is(:hover, :focus) {
  border-color: #404bbf;
  color: #404bbf;
}
.custumers-svg-icons {
  fill: currentColor;
}

/* -----footer------*/
.footer-web {
  display: inline-block;
  margin-bottom: 16px;
  font-family: var(--second-primary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
}

.text {
  color: var(--gray-background-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 264px;
}

.footer {
  background-color: var(--secondary-color);
  padding: 100px 0;
  display: block;
}

.footer-logo {
  color: var(--gray-background-color);
}
.div-footer {
  display: flex;
  align-items: baseline;
}
.footer-div-container {
  margin-right: 120px;
}
.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.footer-list-icons {
  display: flex;
  gap: 16px;
}
.footer-social-icons {
  width: 40px;
  height: 40px;
}
.custumers-div-icon:hover,
.custumers-div-icon:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.footer-social-link {
  list-style: none;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-svg-icons {
  fill: var(--gray-background-color);
}
.footer-social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

/* -----homework5------*/
.footer-p-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.form {
  display: flex;
  gap: 24px;
}
.form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
}
.form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-telegram-icons {
  margin-left: 16px;
  fill: #ffffff;
}
.form-input::placeholder {
  color: var(--primary-background-color);
}

.form-button:hover,
.form-button:focus {
  background-color: #31d0aa;
}

/* -----modal window JS------*/
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.close-window {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-window:hover,
.close-window:focus {
  background-color: #404bbf;
  border: 0;
  fill: #ffffff;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}

.icon-close:hover,
.icon-close:focus {
  fill: #ffffff;
}
.modal-tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.5;
  margin-bottom: 16px;
}
.contact-user {
  margin-bottom: 8px;
}
.text-area-user {
  margin-bottom: 16px;
}

.new-modal-form {
  display: flex;
  flex-direction: column;
  border: none;
  max-width: 408px;
  background: #fcfcfc;
  width: 100%;
}

.new-modal-form:focus-within {
  border-color: #2196f3;
}
.modal-label {
  display: block;
  position: relative;
  color: #8e8f99;
  margin-bottom: 4px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-size: 12px;
}

.modal-label:focus-within {
  color: #2196f3;
}
.input-form {
  display: block;
  width: 100%;
  height: 40px;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding-left: 38px;
}
.input-form::placeholder {
  color: #616161;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-modal:focus-within + .icon-modal {
  fill: var(--second-logo-color);
}

.form-icons {
  position: absolute;
  fill: #2e2f42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icons:focus {
  fill: #4d5ae5;
}
.label-comment::placeholder {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.label-comment {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form:focus {
  border-color: #4d5ae5;
}
.label-comment:focus {
  border-color: #4d5ae5;
}
input::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-weight: 400;
}

.check-box {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--custumers-icons-color);
}

.check-box-block {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}
.input-checkbox:focus + .checkbox-label > .check-box-block {
  border-color: var(--active-accent-background-color);
}

.input-checkbox:checked + .checkbox-label > .check-box-block {
  background-color: var(--active-accent-background-color);
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
  text-decoration-line: underline;
  color: var(--second-logo-color);
}
.send {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 0;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}
.send:hover,
.send:focus {
  background: var(--active-accent-background-color);
}
.text-area-user {
  margin-bottom: 16px;
}
input:focus + .form-icons {
  fill: #4d5ae5;
  border-color: #4d5ae5;
}
.footer-form {
  margin-left: 80px;
}
.input-icon {
  position: relative;
}
/* -------portfolio page-------- */

.section-portfolio {
  list-style: none;
  padding: 96px 0 120px 0;
}

.button-list {
  text-decoration: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.button_navportfolio {
  background-color: var(--gray-background-color);
  color: var(--accent-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-portfoliobutton {
  list-style: none;
}

.list-portfolioimg {
  list-style: none;
  width: calc((100% - 48px) / 3);
}

.list-portfolioimg:hover,
.list-portfolioimg:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button_navportfolio:is(:hover, :focus) {
  color: var(--white-color);
  background-color: #404bbf;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.full-navigation {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolioimg {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolioimg:hover,
.portfolioimg:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.div-portfolio-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.service-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
  margin-bottom: 8px;
}

.service-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-decoration: none;
  transform: translateY(0%);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overley-text {
  top: 0;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--gray-background-color);
  padding: 40px 32px;
  position: absolute;
  width: 360px;
  height: 300px;

  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolioimg:hover .overley-text,
.portfolioimg:focus .overley-text {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.footer-social-icons {
  list-style: none;
}
